h1,h2,b,i,body,div,span,ul,ol,li,input {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
	text-align:justify;
	line-height:140%;
}

h1 {
	font-size:2.5ex;
	font-weight:bold;
}

low {
	vertical-align:sub;
}

body {
	min-width: 500px;
	font-size: 100.01%;
	background-color: #EEEEEE;
	padding: 25px;
}

td {
	width: 60px;
	text-align: center;
}

.operator {
	width: 10px;	
}

.white_box {
	margin: 2ex;
	position: relative;
}

.upper_left {
	position: absolute;
	left: -2px;
	top: -2px;
}

.upper_right {
	position: absolute;
	right: -2px;
	top: -2px;
}

.lower_left {
	position: absolute;
	left: -2px;
	bottom: -2px;
}

.lower_right {
	position: absolute;
	right: -2px;
	bottom: -2px;
}

.white_box .box_content {
	padding: 0.8ex 0.8ex 0.8ex 0.8ex;
	color: green;
	font-size: small;
}

.problem {
	
}

.problem_table {
	
}

.solution {
	border: 1px solid red;
}

.content {
	position: relative;	
	border: 2px solid green;
	background-color: white;
}
